@import 'variable.styl'
@import 'mixin.styl'
body, html
  user-select none
  -webkit-tap-highlight-color transparent
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.font-red
  color $color-red
.font-green
  color $color-green
.font-white
  color $color-white
.font-333
  color $color-333
.font-666
  color $color-666
.font-999
  color $color-999
.font-333
  color $color-333
.mb15
  margin-bottom 15px
.mb20
  margin-bottom 20px
